name: CI Tests

on: [push]

jobs:
  build-and-test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        col-counts: ['-DLADEL_SIMPLE_COL_COUNTS=On',
                     '-DLADEL_SIMPLE_COL_COUNTS=Off']
        amd:        ['-DLADEL_USE_AMD=On',
                     '-DLADEL_USE_AMD=Off']
        long:       ['-DLADEL_LONG=On',
                     '-DLADEL_LONG=Off']
        float:      ['-DLADEL_FLOAT=On',
                     '-DLADEL_FLOAT=Off']
    steps:
    - uses: actions/checkout@v2
    - name: Install Google Test
      shell: bash
      run: ./scripts/install-gtest.sh Debug
      env:
        VIRTUAL_ENV: /tmp/gtest-install
    - name: Configure
      run: cmake -S. -Bbuild ${{ matrix.col-counts }} ${{ matrix.amd }} ${{ matrix.long }} ${{ matrix.float }}
      env:
        CMAKE_PREFIX_PATH: /tmp/gtest-install
        CMAKE_C_FLAGS: -Wall -Wextra -fsanitize=address,undefined
        CMAKE_CXX_FLAGS: -Wall -Wextra -fsanitize=address,undefined
        CMAKE_EXE_LINKER_FLAGS: -fsanitize=address,undefined
    - name: Build
      run: cmake --build build -j
    - name: Run tests
      run: ./build/test/ladel_run_all_tests --gtest_color=yes
